name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  Build-Push-Docker-Image:
    runs-on: ubuntu-latest
    needs: build
    name: Tag, Push

    steps:
    - name: Build container image
      uses: docker/build-push-action@v2
      with:
        username: ${{github.actor}}
        password: ${{secrets.GITHUB_TOKEN}}
        registry: docker.pkg.github.com
        repository: werto87/game_01_server
        tag_with_sha: true
